<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultado</title>
  </head>
  <body>
    <h1>Animal ingresado:</h1>
    <p>El animal que ingresaste es: <strong><%= animal %></strong></p>
    <a href="/">Volver al inicio</a>
  </body>
</html>
